/* Apps: blur them all without xray for a better look */
window-rule {
    background-effect {
        blur true
        xray false
    }
}
/* Noctalia: blur everywhere without xray for a better look */
layer-rule {
    match namespace="^noctalia-(background|launcher-overlay|dock)-.*$"
    background-effect {
        xray false
    }
}
blur {
    // more passes = stronger blur (default: 3)
    passes 2
    // sample distance per pass (default: 3.0)
    offset 3.0
    // grain overlay (default: 0.02)
    noise 0.03
    // color saturation boost (default: 1.5)
    saturation 1.0
}

